body {
    background-color: #F7F0E6; /* Example color, change this to any color you prefer */
    margin: 0;
    padding: 0;
  }
/* Container for the whole home page */
.home-container {
    text-align: center;
    padding: 20px;
  }
  
  /* Logo container for centering */
  .logo-container {
    margin-bottom: 20px;
  }
  
  /* Logo styling */
  .logo {
    width: 350px; /* Adjust logo width */
    height: auto;
    font-weight: 600; /* Adjust weight */
    display: block;
    margin: 0 auto;
  }
  
  /* Navigation bar styling */
  .nav-bar {
    background-color: #3E2B05;
    padding: 15px 0;
  }
  
  .nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    size: 18 px;
    display: flex;
    justify-content: center;
  }
  
  .nav-item {
    margin: 0 15px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
  }
  
  .nav-item a:hover {
    color: #007bff; /* Change color on hover */
  }
  
  .img {
    margin: 0;
    padding: 0;
    display: block; /* Changes image to block-level element to remove inline spacing */
  }
  